.add-option {

  &-error {
    color: $errorColor;
    padding: 0 $spacing-md;
    margin: $spacing-md 0 0 0;
    font-style: italic;
  }

  &-form {
    display: flex;
    flex-direction: column;
    padding: $spacing-md;

    &__input {
      flex-grow: 1;
      background: $darkBlue;
      border: none;
      border-bottom: .3rem solid darken($darkBlue, 10%);
      margin: 0 0 $spacing-sm 0;
      color: $white2;
      padding: $spacing-sm;
    }
  }
}

@media (min-width: $break-md) {
  .add-option {
    &-form {
      flex-direction: row;

      &__input {
        margin: 0 $spacing-sm 0 0;
      }
    }
  }
}
