.header {
  background-color: $grey;
  color: $white;
  margin-bottom: $spacing-xl;
  padding: $spacing-md 0;

  &__title {
    font-size: $f-size-lg;
    margin: 0;
  }

  &__subtitle {
    font-size: $f-size-md;
    color: $white2;
    font-weight: $f-weight-medium;
  }
}
