.option {
  display: flex;
  justify-content: space-between;
  padding: $mdSpacing;
  border-bottom: .1rem solid lighten($lightBlue, 10%);

  &__text {
    color: $white;
    font-weight: $mdFS;
    font-weight: $mediumFW;
    word-break: break-all;
  }
}
