.widget {
  background: $lightBlue;
  margin-bottom: $spacing-lg;

  &-header {
    background-color: $blue;
    color: $white;
    padding: $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      margin: 0;
    }
  }

  &__message {
    color: $white2;
    margin: 0;
    padding: $spacing-lg;
    text-align: center;
    border-bottom: .1rem solid lighten($lightBlue, 10%);
  }
}
